.main {
  margin-bottom: 80px !important;
  margin-top: 80px !important;
}
.red-title {
  color: #990033;
  font-weight: 700;
  font-size: 20px;
}
.red-text {
  color: #990033;
  font-weight: 500;
  width: 400px;
  font-size: 14px;
}
.iletisim-bilgi {
  margin-bottom: 30px !important;
  margin-top: 40px !important;
  font-family: "abril-text" !important;
}
.telephone {
  width: 25%;
  float: left;
}
.telephone-no {
  width: 75%;
  float: left;
}
.adress {
  width: 25%;
  float: left;
}
.adress-detail {
  width: 75%;
  float: left;
}

.adress-bottom {
  width: 100%;
  float: left;
  margin: 0 !important;
  margin-top: 40px !important;
}
.input-style {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  border-bottom: 1px solid #dfdfdf;
  letter-spacing: 1px;
  font-size: 11px;
  padding: 8px 15px;
  width: 100%;
  margin: 0 0 20px 0;
  text-transform: none;
  max-width: 100%;
  resize: none;
}
.subject-input {
  border: none;
  border-bottom: 1px solid #dfdfdf;
  letter-spacing: 1px;
  font-size: 11px;
  padding: 8px 15px;
  width: 100%;
  margin: 0 0 20px 0;
  text-transform: none;
  max-width: 100%;
  resize: none;
  color: #999999;
}
.subject-input option {
  color: #000;
}

.input-textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  border-bottom: 1px solid #dfdfdf;
  letter-spacing: 1px;
  font-size: 11px;
  padding: 8px 15px;
  width: 100%;
  margin: 0 0 20px 0;
  text-transform: none;
  max-width: 100%;
  resize: none;
  height: 80px;
}

.kvkk {
  color: white;
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
  width: auto;
  border: none;
}

.kvkk-label a {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.message {
  border-bottom: 1px solid #a1a1a1;
  color: #a1a1a1;
  font-weight: 600;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  border-bottom: 1px solid #dfdfdf;
  letter-spacing: 1px;
  font-size: 13px;
  padding: 8px 15px;
  margin: 0 0 20px 0;
  text-transform: none;
  max-width: 100%;
  resize: none;
  background-color: white;
}

.map {
  height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.footer-text {
  font-size: 12px;
  text-align: center;
}

.footer-li {
  line-height: 25px;
  font-weight: bold;
}

input::placeholder {
  color: white !important;
}
